version: "2"
authtoken: YOUR_NGROK_AUTHTOKEN_HERE

tunnels:
  web:
    proto: http
    addr: 8000
    subdomain: audiopirate-web
    schemes:
      - https
  
  websocket:
    proto: http
    addr: 8765
    subdomain: audiopirate-ws
    schemes:
      - https
